.App {
  text-align: left;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.content{
  padding: 10px;
}

.rightAlign{
  text-align: right;
}

.leftAlign{
  text-align: left;
}

.centerAlign{
  text-align: center;
}

.toolsRight{
  float: right;
  margin-right:5px;  
}